<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
</head>
<body>
    <div>
        <!-- /* 「enctype="multipart/form-data"」でアップロードファイルをコントローラークラスに渡す */ -->
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data" th:object="${uploadForm}">
            <div>
                <input type="file" th:field="*{multipartFile}">
            </div>
            <div>
                <input type="submit" value="アップロード">
            </div>
        </form>
    </div>
</body>
</html>